$color_white: #fff;
$color_button: #f57e57;
$color_skyblue: #18afd3;
$color_box: #434445;
$color_black: black;
$main_font: 'Lato', sans-serif;
$oswald_font:'Oswald', sans-serif;
$medi_large: 1199px;
$medi_medium: 992px;
$medi_min: 768px;
$a: 15px;
$b: 6%;
