@import "_mixin.scss";
html,body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	position: relative;
}
ul{
	list-style-type: none;
	padding: 0;
}

a{
  @include reset;
  outline: none;
}

p {
    margin: 0;
    padding: 0;
    color: #868686;
		margin-bottom: 0px !important;
}

* {
    transition: .2s ease-in-out;
}
#header{
	.logo{
		max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
		.row{
			.contact_wrapper{
				float: right;
			}
		}
		@media (max-width: 991px){
			display: none;
		}
	    transition: .3s all ease;
	    position: relative;
	    padding: 50px 0px 0 15px;
	    font-family: $fontLato;

	    span{
	    	@include spanProp;
	    }
	    a{
	    	margin: 2px 0 0 7px;
	    	float: left;
	    	color: #434445;
	    	text-decoration: none;
	    	line-height: 1.6;
	    	font-size: 15px;
	    	&:hover{
	    		text-decoration:underline;
	    	}
	    }
	}
	.nav_wrapper{
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #18afd3;
		box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		max-width: 1145px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 32px;
		box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		z-index: 1;
		width: 97%;
		z-index: 65;
		@media screen and (max-width: $medi_medium) {
			justify-content: space-between;
		}
		.responsive_menu{
            display: none;
						@media screen and (max-width: $medi_medium) {
							display: block;
						}
          .c-hamburger {
              display: block;
              position: relative;
              overflow: hidden;
              margin: 0;
              padding: 0;
              width: 48px;
              height: 48px;
              font-size: 0;
              text-indent: -9999px;
              appearance: none;
              box-shadow: none;
              border-radius: none;
              border: none;
              cursor: pointer;
              transition: background 0.3s;
            }

            .c-hamburger:focus {
              outline: none;
            }

            .c-hamburger span {
              display: block;
              position: absolute;
              top: 26px;
              left: 14px;
              right: 8px;
              height: 4px;
              background: $color_black;
            }

            .c-hamburger span::before,
            .c-hamburger span::after {
              position: absolute;
              display: block;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: $color_black;
              content: "";
            }

            .c-hamburger span::before {
              top: -8px;
            }

            .c-hamburger span::after {
              bottom: -8px;
            }

            .c-hamburger--htla {
              background-color: $color_white;
            }

            .c-hamburger--htla span {
              transition: transform 0.3s;
            }

            .c-hamburger--htla span::before {
              transform-origin: top right;
              transition: transform 0.3s, width 0.3s, top 0.3s;
            }

            .c-hamburger--htla span::after {
              transform-origin: bottom right;
              transition: transform 0.3s, width 0.3s, bottom 0.3s;
            }

            /* active state, i.e. menu open */
            .c-hamburger--htla.is-active {
              background-color: $color_white;
            }

            .c-hamburger--htla.is-active span {
              transform: rotate(180deg);
            }

            .c-hamburger--htla.is-active span::before,
            .c-hamburger--htla.is-active span::after {
              width: 50%;
            }

            .c-hamburger--htla.is-active span::before {
              top: 0;
              transform: translateX(16px) translateY(1px) rotate(45deg);
            }

            .c-hamburger--htla.is-active span::after {
              bottom: 0;
              transform: translateX(16px) translateY(-1px) rotate(-45deg);
            }
        }
				.responsive_logo{
					text-align: center;
					display: none;
					@media screen and (max-width: $medi_medium) {
						display: block;
					}
					img{
						width: 60%;
					}
				}
        >i{
          display: none;
          font-size: 23px;
          padding: 16px 25px;
          position: relative;
          color: $color_black !important;
          cursor: pointer;
					@media screen and (max-width: $medi_medium) {
						display: block;
					}
        }
				.contact_responsive{
      width: 290px;
      height: 124px;
      position: absolute;
      top: 56px;
      right: 5px;
      display: none;
      .tel_address_responsive{
        width: 100%;
        background: $color_white;
        .tel_responsive{
          padding: 15px 15px 0px;
          .tel_responsive_left_icon{
						div{
					    width: 50px;
					    height: 50px;
					    text-align: center;
					    background: #e5e5e5;
					    border-radius: 100%;
					    i{
					      line-height: 50px;
					      color: #18afd3;
					      font-size: 25px;
					    }
					  }
          }
          .tel_responsive_right_text{
            padding-left: 15px;
            p{
							margin: 0;
							font-family: "Lato", sans-serif;
    					line-height: 1.6;
							font-size: 14px;
              a{
                color: $color_black;
              }
            }
          }
        }
        .address_responsive{
          padding: 15px;
          .address_responsive_left_icon{
						div{
					    width: 50px;
					    height: 50px;
					    text-align: center;
					    background: #e5e5e5;
					    border-radius: 100%;
					    i{
					      line-height: 50px;
					      color: #18afd3;
					      font-size: 25px;
					    }
					  }
          }
          .address_responsive_right_text{
            padding-left: 15px;
            color: $color_white;
            p{
							margin: 0;
							font-family: "Lato", sans-serif;
    					line-height: 1.6;
							font-size: 14px;
              a{
                color: $color_black;
              }
            }
          }
        }
      }
    }
		@media screen and (max-width: $medi_medium) {
			top: 0;
    	width: 100%;
    	border-radius: 0;
    	background: white;
		}
		.nav-bar{
			text-transform: uppercase;
			font-family: $fontOswald;
			position: absolute;
		}
		.menuNav{
			@media screen and (max-width: $medi_medium) {
				display: none;
			}
			>ul{
				@include flex;
				margin: 0;
				list-style: none;
				.liPages{
					&:hover{
						.menuNavDisplay{
							visibility: visible;
							opacity: 1;
						}
					}
				}
				.liGallery{
					&:hover{
						.ulStyle{
							visibility: visible;
							opacity: 1;
						}
					}
				}
				.liBlog{
					&:hover{
						.ulStyle{
							visibility: visible;
							opacity: 1;
						}
					}
				}
				>li{
					transition: .3s;
					padding: 18px 24px;
					@media screen and (max-width: $medi_large) {
    				padding: 18px 12px;
  				}
					&:hover{
						background:$backgroundOrange;
						cursor: pointer;
					}
					>a{
						color:#fff;
					    font-size: 1rem;
    					font-weight: 400;
   						line-height: 1.5;
   						text-decoration: none;
   						i{
   							padding:0;
   							margin:0 0 0 5px;
   						}
					}
					.menuNavDisplay{
						background: #fff;
					    left: 50%;
					    padding: 30px;
					    width: 100%;
					    transform: translateX(-50%);
					    position: absolute;
					    top: 100%;
					    z-index: 1;
					    visibility: hidden;
					    transition: .3s all ease;
					    opacity: 0;
					    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);

					    h6{
					    	font-family: $fontLato;
					    	font-size: 18px;
						    letter-spacing: 0.06em;
						    font-family: "Oswald", sans-serif;
						    line-height: 1.5;
						    font-weight: 400;
						    color: #434445;
					    }
					    p{
					        position: relative;
						    height: 1px;
						    background: #e5e5e5;
						    margin-bottom: 12px;
						    &:before{
						        content: '';
							    position: absolute;
							    height: 1px;
							    width: 50px;
							    background: #f57e57;
						    }
					    }
					    ul{
					    	padding-left: 0;
    						list-style: none;
					    	li{

					    		a{
					    		font-family: $fontLato;
					    		display: block;
							    padding: 8px 15px 8px 0px;
							    text-transform: capitalize;
							    font-size: 14px;
							    color: #18afd3;
							    line-height: 24px;
							    text-decoration: none;
								transition:.2s all ease;


					    		}
					    		i{
										display: none;
										padding: 0;
										float: left;
										margin-top: 12px;
									}
					    		&:hover{
					    			a{
					    				color:#f57e57;
					    				padding-left:15px;
					    			}
					    			i{
					    				display: inline;
					    				color: #f57e57;
					    			}
					    		}
					    	}
					    }
					}
					.ulStyle{
					    background: #fff;
					    position: absolute;
					    top: 100%;
					    width: 240px;
					    padding: 0;
					    transform: translateX(-24px);
					    transition: .3s all ease;
					    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
					    list-style: none;
					     visibility: hidden;
					     opacity: 0;

					    li{
					        padding: 4px 0 4px 0px;
						    margin-left: 25px;
						    margin-right: 25px;
						    border-bottom: 1px solid #e5e5e5;

						    a{
						    	display: block;
    							padding: 8px 15px 8px 0px;
    						    padding: 8px 15px 8px 0px;
							    text-transform: capitalize;
							    font-size: 14px;
							    color: #18afd3;
							    line-height: 24px;
							    font-family: $fontLato;
							    text-decoration: none;
								transition:.2s all ease;
						    }
						    i{
						    	display: none;
							    padding: 0;
							    float: left;
							    margin-top: 12px;
						    }
						    &:hover{
					   			a{
					   				color:#f57e57;
					   				padding-left:15px;
					   			}
					    		i{
					    			display: inline;
					    			color: #f57e57;
					    		}
					    	}
					    }
					}
				}
			}
		}
		.search{
			a{
				>i{
					padding: 21px 36px;
					color:#fff;
				}
			}
			@media screen and (max-width: $medi_medium) {
				display: none;
			}
		}
	}
	.menu_responsive{
		position: absolute;
    top: 0;
    z-index: 60;
		height: 100vh;
		background: $color_white;
		position: fixed;
		display: none;
		transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
		@media screen and (max-width: $medi_medium) {
			display: block;
		}
		.menu_responsive_wrapper{
			overflow: auto;
			height: 100vh;
			position: relative;
			top: 70px;
			padding: 15px;
			form{
				border: 1px solid #bdbdbd;
    		height: 50px;
  		  border-radius: 5px;
				input{
					line-height: 49px;
    			padding-left: 20px;
    			outline: none;
    			border: none;
    			background: transparent;
    			padding-right: 28px;
    			font-size: 14px;
    			color: #434445;
				}
				i{
					color: #f57e57;
					position: relative;
					right: 10px;
				}
			}
			>ul{
				margin-top: 30px;
				li{
					padding: 9px 0px 9px 15px;
    			font-family: "Oswald", sans-serif;
    			font-size: 16px;
    			font-weight: 400;
    			line-height: 24px;
					&:hover{
						>a{
							color: #f14711;
						}
					}
					>i{
						float: right;
    				font-size: 22px;
    				color: #f57e57;
					}
					a{
						color: $color_button;
					}
				}
				.sub_menu{
					>ul{
						display: none;
						span{
							color: #f57e57;
    					font-size: 14px;
    					font-family: "Lato", sans-serif;
							.i_hover{
								font-size: 0px;
							}
						}
					}
					.slide_down{
						transform: rotate(0deg);
						cursor: pointer;
					}
				}
			}
		}
	}
	.back{
		background-image: url(../images/back/back.jpg);
		background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    @media (max-width: 991px){
	    	background-size: cover;
	    }
	    h1{
	    	color: #fff;
	    	line-height: 1.25;
    		font-size: 80px;
    		letter-spacing: 0.04em;
    		font-family: $fontOswald;
    		padding:90px 0 90px;
    		@media (max-width: 991px) {
    			padding: 0;
    			font-size: 60px;
    			text-align: center;
    		  padding: 25px 0 25px;
    		}
    		@media (max-width: 767px) {
    			font-size: 36px;
    			padding: 30px 0px 35px;
    		}
	    }
	    ul{
	    	margin:0;
	    	padding: 0 0 40px;
	    	li{
		    	list-style: none;
		    	color:#fff;
		    	display: inline;
		    	margin-right:5px;
		    	a{
		    		color: #fff;
		    		span{
		    			margin: 0;
		    			padding: 0;
		    		}
		    	}
	    	}
	    	i{
	    		margin-left:10px;
			    font-size: 12px;
			    line-height: 14px;
			    padding-right: 15px;
			    opacity: .3;
	    	}
	   }
	}
	footer{
    background: #038eaf;
    .footer_wrapper{
      @include wrapper;
      padding-right: calc(15px + 3%);
      padding-top: 66px;
      padding-bottom: 20px;
      .footer_content_total{
        @media screen and (max-width: $medi_min) {
          margin: 0 auto;
        }
      }
      .logo_footer{
        .top_logo{
          @media screen and (max-width: $medi_medium) {
            padding-bottom: 60px;
            margin: 0 auto;
          }
          @media screen and (max-width: $medi_min) {
            padding-bottom: 60px;
            margin: 0 auto;
          }
        }
        .socials{
          position: absolute;
          bottom: 0;
          ul{
            li{
              width: 40px;
              height: 40px;
              background: $color_white;
              border-radius: 100%;
              text-align: center;
              line-height: 40px;
              margin-right: 15px;
              color: $color_gray;
              cursor: pointer;
              transition: .1s;
              &:hover{
                background: $color_button;
                color: $color_white;
              }
            }
          }
        }
        @media screen and (max-width: $medi_medium) {
          padding: 0 50px;
          margin: 0 auto;
          padding-top: 60px;
        }
        @media screen and (max-width: $medi_min) {
          padding: 0;
          padding-top: 60px;
          margin: 0 auto;
        }
      }
      .contact{
        padding-left: 0;
        h6{
          @include h6_style;
        }
        .contact_content_col{
          padding-bottom: 10px;
          .contact_content_col_right{
            span{
              color: $color_white;
            }
          }
          .contact_content_col_left{
            width: 30px;
            height: 20px;
            text-align: center;
          }
          i{
            color: $color_button;
            font-size: 24px !important;
            line-height: 24px !important;
          }
          .contact_content_col_right{
            padding-left: 10px;
            span{
              color: $color_white;
            }
            a{
              color: $color_button;
            }
          }
        }
        @media screen and (max-width: $medi_medium) {
          padding: 0 50px;
          margin: 0 auto;
          padding-top: 60px;
        }
        @media screen and (max-width: $medi_min) {
          padding: 0;
          margin: 0 auto;
          margin-top: 60px;
        }
      }
      .newsletter{
        @media screen and (max-width: $medi_medium) {
          padding: 0 50px;
          margin: 0 auto;
        }
        @media screen and (max-width: $medi_min) {
          padding: 0;
        }
        h6{
          @include h6_style;
        }
        .newsletter_last_p{
          color: rgba(255, 255, 255, 0.2);
          padding-top: 15px;
        }
        .form{
          padding-top: 10px;
          position: relative;
          input{
            width: 100%;
            border: none;
            outline: none;
            padding: 7px 20px 7px 7px;
            border-radius: 3px;
          }
          div{
            border-radius: 5px;
            background: $color_button;
            border-color: $color_button;
            position: absolute;
            right: -2px;
            &:hover{
              background:$color_skyblue;
              border-color: $color_skyblue;
            }
          }
        }
      }
    }
    .copyright{
      border-top: 1px solid #0788a7;
      .copyright_wrapper{
        min-width: 300px;
        max-width: 750px;
        padding-top: 14px;
        padding-bottom: 14px;
        margin: 0 auto;
        text-align: center;
        span{
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
		.footer_button{
			position: fixed;
			bottom: 0px;
			right: 45px;
			cursor: pointer;
			visibility: hidden;
			transition: 0.1s all cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
			i{
				width: 50px;
    		height: 50px;
    		line-height: 48px;
    		font-size: 26px;
				box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
				background: $color_button;
				border-radius: 100%;
				text-align: center;
				color: $color_white;
			}
		}
  }
}
#content{
//   /  height: 1000px;
	h4{
		width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;
    line-height: 1.33;
    font-size: 18px;
        letter-spacing: 0.06em;
        font-family: $fontOswald;
	}
   h5{
       &::before{
            content: '';
            position: absolute;
            top: 39px;
            left: 0px;
            height: 1px;
            width: 50px;
            background: #f57e57;
       }
   }
    .counters{
        margin-top: 100px;
    .col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */


.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center;    line-height: 1.13043;
    font-size: 46px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center;    font-weight: 700;
    margin-top: 20px;
    color: #18afd3;
    line-height: 1.27273;
    font-size: 22px; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }
    }

.afters{
        height: 4px;
    width: 50px;
    margin-left: center;
    background: $backgroundOrange;
    margin-left: 108px;
    margin-top: 18px;
}
.skill{
     h6{
     	position: absolute;
       &::before{
           content: '';
            position: absolute;
            top: 40px;
            left: 0px;
            height: 1px;
            width: 50px;
            background: #f57e57;
       }
   }
    .skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
   width: 100%;
   float: left;
}

.skills {
   padding:40px 0;
}

.skills .skill {
   margin-bottom: 30px;
}

.skills .skill .skill-title {
      color: #868686;
    line-height: 1.33333;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    span{
        float: right;
        color: #18afd3;
        line-height: 1.33333;
        font-size: 18px;
    }
}
.skilinyo{
	padding: 0;
}
.skills .skill .skill-bar {
       background: #e5e5e5;
    height: 12px;
    border-radius: 5px;
    width: 570p;
    width: 570px;
   background: #f0f0f0;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills.active .skill .skill-bar {
   width: 100%;
}

.skills .skill .skill-bar span {
      height: 12px;
    border-radius: 5px;
   float: left;
   width: 0%;
   background: $backgroundOrange;
   position: relative;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills .skill .skill-bar span b {
   float: left;
   width: 100%;
   position: relative;
   text-align: right;
   opacity: 0;
   font-size: 14px;
   color: #1D91F2;
   font-weight: 400;
   top: -13px;
}

.container{
  width: 100%;
  max-width: 600px;
  padding:0 15px;
  margin:0 auto;
}

html,body{
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
}
.progress_bar{
    margin-top: 50px;
    padding-bottom: 80px;
    display: flex;
    justify-content:space-between;
     h5{
     	position: absolute;
       &::before{
            content: '';
            position: absolute;
            height: 1px;
            width: 50px;
            background: #f57e57;
       }
   }
.radial-01 {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: red;
  padding-top: 40px;
  border-radius: 100%;
  margin: 40px 8%;
  // margin-left: 100px;
}
.radial-01 p {
    position: absolute;
    left: -25px;
    bottom: -55px;
    z-index: 50;
    width: 165px;
    font-weight: 700;
    color: #868686;
    line-height: 1.27273;
    font-size: 19px;
}
.radial-01 .radial-01-number {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    border-radius: 100%;
    padding-top: 41px;
    z-index: 20;
}
.radial-01 .radial-01-number {
  font-size: 30px;
  padding-top: 32px;
}
.radial-01 .radial-01-number .radial-01-syb {
  font-size: 20px;
}
.radial-01 > span.radial-01-border-r:before {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #ccc;
  border-radius: 100%;
  z-index: 5;
}
.radial-01 > span.radial-01-border-r:after {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #008cba;
  border-radius: 100%;
  z-index: 10;
  clip: rect(0px,120px,120px,60px);
}
.radial-01 > span.radial-01-border-l:before {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #ccc;
  border-radius: 100%;
  z-index: 5;
}
.radial-three-quarters > span.radial-01-border-l:after {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #008cba;
  border-radius: 100%;
  z-index: 10;
  clip: rect(60px,120px,120px,0px);
}

.radial-whole > span.radial-01-border-l:after {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #008cba;
  border-radius: 100%;
  z-index: 10;
  clip: rect(0px,120px,120px,0px);
}

.radial-ninty > span.radial-01-border-l:after {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #008cba;
  border-radius: 100%;
  z-index: 10;
  clip: rect(60px,120px,120px,0px);
  transform: rotate(60deg);
}
}
}

.main{
  .wrapper{
    .about_us{
      display: flex;
      padding-top: 110px;
      padding-bottom: 110px;
      @include wrapper;
      .content_left{
        @media screen and (max-width: $medi_large) {
          margin: 0 auto;
        }
        >h3{
          line-height: 1.13043;
          font-size: 46px;
          font-family: $oswald_font;
          @media screen and (max-width: $medi_min) {
            font-size: 28px;
          }
        }
        div{
          margin: 30px 0;
        }
        .text{
          margin-top: 60px;
          margin-bottom: 10px;
          color: $color_gray;
          p:first-child{
            margin-bottom: 10px;
          }
        }
      }
      .content_right{
        @media screen and (max-width: $medi_large) {
          margin: 0 auto;
          padding-top: 30px;
        }
        h6{
          line-height: 1.33333;
          font-size: 18px;
          font-family: $oswald_font;
          letter-spacing: 0.06em;
        }
        .right_content{
          margin-top: 30px;
          >p{
            margin-top: 15px;
            margin-bottom: 10px;
          }
          >a{
            @include button_style;
            @media screen and (max-width: $medi_large) {
              margin-top: 5px;
            }
            &:hover{
              background-color: #55bbeb;
              border-color: #55bbeb;
            }
          }
          .man_info{
						display: flex;
            .man_info_content{
							h5,p{
								padding-left: 20px;
							}
              @media screen and (max-width: $medi_large) {
                padding-left: 0;
                padding-top: 10px;
              }
              .phone_number_icon{
                padding-left: 20px;
                @media screen and (max-width: $medi_large) {
                  padding-left: 0;
                }
                >i{
                  font-size: 26px;
                  line-height: 26px;
                  color: $color_skyblue;
                }
              }
              >h5{
                font-weight: 700;
                color: $color_skyblue;
              }
              >p{
                font-style: italic;
                margin-bottom: 10px;
              }
              .phone_number{
                margin-top: 14px;
                .phone_number_text{
                  padding-left: 7px;
                  a{
                    font-family: $oswald_font;
                    line-height: 1.33;
                    font-size: 18px;
                    color: $color_box;
                  }
                }
              }
            }
          }

        }
      }
    }
    
    
    }
  }
  footer{
    background: #038eaf;
    .footer_wrapper{
      @include wrapper;
      padding-right: calc(15px + 3%);
      padding-top: 66px;
      padding-bottom: 60px;
      .footer_content_total{
        @media screen and (max-width: $medi_min) {
          margin: 0 auto;
        }
      }
			.footer_last{
				@media screen and (max-width: $medi_medium) {
					display: flex;
	    		justify-content: center;
	    		margin: 0 auto;
					padding: 50px 0;
					.top_logo{
	          @media screen and (max-width: $medi_medium) {
	            padding-bottom: 60px;
	            margin: 0 auto;
	          }
	          @media screen and (max-width: $medi_min) {
	            padding-bottom: 60px;
	            margin: 0 auto;
	          }
	        }
				}
			}

        .socials{
          position: absolute;
          bottom: 0;
          ul{
            li{
              width: 40px;
              height: 40px;
              background: $color_white;
              border-radius: 100%;
              text-align: center;
              line-height: 40px;
              margin-right: 15px;
              color: $color_gray;
              cursor: pointer;
              transition: .1s;
							@media screen and (max-width: $medi_medium) {
			          margin: 0 6px;
			        }
              &:hover{
                background: $color_button;
                color: $color_white;
              }
            }
          }
        }
        @media screen and (max-width: $medi_medium) {
          padding: 0 50px;
          margin: 0 auto;
          padding-top: 60px;
        }
        @media screen and (max-width: $medi_min) {
          padding: 0;
          padding-top: 60px;
          margin: 0 auto;
        }
      .contact{
        padding-left: 0;
        h6{
          @include h6_style;
        }
        .contact_content_col{
          padding-bottom: 10px;
          .contact_content_col_right{
            span{
              color: $color_white;
            }
          }
          .contact_content_col_left{
            width: 30px;
            height: 20px;
            text-align: center;
          }
          i{
            color: $color_button;
            font-size: 24px !important;
            line-height: 24px !important;
          }
          .contact_content_col_right{
            padding-left: 10px;
            span{
              color: $color_white;
            }
            a{
              color: $color_button;
            }
          }
        }
        @media screen and (max-width: $medi_medium) {
          padding: 0 50px;
          margin: 0 auto;
          padding-top: 60px;
        }
        @media screen and (max-width: $medi_min) {
          padding: 0;
          margin: 0 auto;
          margin-top: 60px;
        }
      }
      .newsletter{
        @media screen and (max-width: $medi_medium) {
          padding: 0 50px;
          margin: 0 auto;
        }
        @media screen and (max-width: $medi_min) {
          padding: 0;
        }
        h6{
          @include h6_style;
        }
        .newsletter_last_p{
          color: rgba(255, 255, 255, 0.2);
          padding-top: 15px;
        }
        .form{
          padding-top: 10px;
          position: relative;
          input{
            width: 100%;
            border: none;
            outline: none;
            padding: 7px 20px 7px 7px;
            border-radius: 3px;
          }
          div{
            border-radius: 5px;
            background: $color_button;
            border-color: $color_button;
            position: absolute;
            right: -2px;
            &:hover{
              background:$color_skyblue;
              border-color: $color_skyblue;
            }
          }
        }
      }
    }
    .copyright{
      border-top: 1px solid #0788a7;
      .copyright_wrapper{
        min-width: 300px;
        max-width: 750px;
        padding-top: 14px;
        padding-bottom: 14px;
        margin: 0 auto;
				@media screen and (max-width: $medi_medium) {
          text-align: center;
        }
        span{
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }



      .owl-nav{
        display: none;
      }
      .owl-theme{
        .owl-dots{
          padding-top: 50px;
          .owl-dot{
            span{
              margin: 0 13px;
              width: 12px !important;
              height: 12px !important;
              line-height: 6px;
              border-radius: 50%;
              position: relative;
              cursor: pointer;
              background: #868686;
              &:hover{
                background: rgba(24, 175, 211, 0.8);
              }
              &::before{
                content: '';
                position: absolute;
                display: inline-block;
                width: 12px;
                height: 12px;
                background: rgba(24, 175, 211, 0.22);
                border-radius: 50%;
                left: 0px;
                top: 0px;
              }
              &:hover::before{
                width: 24px;
                height: 24px;
                left: -6px;
                top: -6px;
                transition: all .1s ease-in-out;
              }
            }
          }
        }
      }
			.fixed {
				max-width: none !important;
				position: fixed !important;
				top: 0 !important;
				width: 100% !important;
				border-radius: 0 !important;
			}
