html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative; }

ul {
  list-style-type: none;
  padding: 0; }

a {
  margin: 0;
  padding: 0;
  outline: none; }

p {
  margin: 0;
  padding: 0;
  color: #868686;
  margin-bottom: 0px !important; }

* {
  transition: .2s ease-in-out; }

#header .logo {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  transition: .3s all ease;
  position: relative;
  padding: 50px 0px 0 15px;
  font-family: "Lato", sans-serif; }
  #header .logo .row .contact_wrapper {
    float: right; }
  @media (max-width: 991px) {
    #header .logo {
      display: none; } }
  #header .logo span {
    border-radius: 50%;
    line-height: 55px;
    font-size: 0px;
    background: #e5e5e5;
    padding: 0px 15px;
    float: left; }
  #header .logo a {
    margin: 2px 0 0 7px;
    float: left;
    color: #434445;
    text-decoration: none;
    line-height: 1.6;
    font-size: 15px; }
    #header .logo a:hover {
      text-decoration: underline; }
#header .nav_wrapper {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18afd3;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 32px;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 1;
  width: 97%;
  z-index: 65; }
  @media screen and (max-width: 992px) {
    #header .nav_wrapper {
      justify-content: space-between; } }
  #header .nav_wrapper .responsive_menu {
    display: none;
    /* active state, i.e. menu open */ }
    @media screen and (max-width: 992px) {
      #header .nav_wrapper .responsive_menu {
        display: block; } }
    #header .nav_wrapper .responsive_menu .c-hamburger {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 48px;
      height: 48px;
      font-size: 0;
      text-indent: -9999px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      border: none;
      cursor: pointer;
      transition: background 0.3s; }
    #header .nav_wrapper .responsive_menu .c-hamburger:focus {
      outline: none; }
    #header .nav_wrapper .responsive_menu .c-hamburger span {
      display: block;
      position: absolute;
      top: 26px;
      left: 14px;
      right: 8px;
      height: 4px;
      background: black; }
    #header .nav_wrapper .responsive_menu .c-hamburger span::before,
    #header .nav_wrapper .responsive_menu .c-hamburger span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: black;
      content: ""; }
    #header .nav_wrapper .responsive_menu .c-hamburger span::before {
      top: -8px; }
    #header .nav_wrapper .responsive_menu .c-hamburger span::after {
      bottom: -8px; }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla {
      background-color: #fff; }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla span {
      transition: transform 0.3s; }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla span::before {
      transform-origin: top right;
      transition: transform 0.3s, width 0.3s, top 0.3s; }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla span::after {
      transform-origin: bottom right;
      transition: transform 0.3s, width 0.3s, bottom 0.3s; }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla.is-active {
      background-color: #fff; }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla.is-active span {
      transform: rotate(180deg); }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla.is-active span::before,
    #header .nav_wrapper .responsive_menu .c-hamburger--htla.is-active span::after {
      width: 50%; }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla.is-active span::before {
      top: 0;
      transform: translateX(16px) translateY(1px) rotate(45deg); }
    #header .nav_wrapper .responsive_menu .c-hamburger--htla.is-active span::after {
      bottom: 0;
      transform: translateX(16px) translateY(-1px) rotate(-45deg); }
  #header .nav_wrapper .responsive_logo {
    text-align: center;
    display: none; }
    @media screen and (max-width: 992px) {
      #header .nav_wrapper .responsive_logo {
        display: block; } }
    #header .nav_wrapper .responsive_logo img {
      width: 60%; }
  #header .nav_wrapper > i {
    display: none;
    font-size: 23px;
    padding: 16px 25px;
    position: relative;
    color: black !important;
    cursor: pointer; }
    @media screen and (max-width: 992px) {
      #header .nav_wrapper > i {
        display: block; } }
  #header .nav_wrapper .contact_responsive {
    width: 290px;
    height: 124px;
    position: absolute;
    top: 56px;
    right: 5px;
    display: none; }
    #header .nav_wrapper .contact_responsive .tel_address_responsive {
      width: 100%;
      background: #fff; }
      #header .nav_wrapper .contact_responsive .tel_address_responsive .tel_responsive {
        padding: 15px 15px 0px; }
        #header .nav_wrapper .contact_responsive .tel_address_responsive .tel_responsive .tel_responsive_left_icon div {
          width: 50px;
          height: 50px;
          text-align: center;
          background: #e5e5e5;
          border-radius: 100%; }
          #header .nav_wrapper .contact_responsive .tel_address_responsive .tel_responsive .tel_responsive_left_icon div i {
            line-height: 50px;
            color: #18afd3;
            font-size: 25px; }
        #header .nav_wrapper .contact_responsive .tel_address_responsive .tel_responsive .tel_responsive_right_text {
          padding-left: 15px; }
          #header .nav_wrapper .contact_responsive .tel_address_responsive .tel_responsive .tel_responsive_right_text p {
            margin: 0;
            font-family: "Lato", sans-serif;
            line-height: 1.6;
            font-size: 14px; }
            #header .nav_wrapper .contact_responsive .tel_address_responsive .tel_responsive .tel_responsive_right_text p a {
              color: black; }
      #header .nav_wrapper .contact_responsive .tel_address_responsive .address_responsive {
        padding: 15px; }
        #header .nav_wrapper .contact_responsive .tel_address_responsive .address_responsive .address_responsive_left_icon div {
          width: 50px;
          height: 50px;
          text-align: center;
          background: #e5e5e5;
          border-radius: 100%; }
          #header .nav_wrapper .contact_responsive .tel_address_responsive .address_responsive .address_responsive_left_icon div i {
            line-height: 50px;
            color: #18afd3;
            font-size: 25px; }
        #header .nav_wrapper .contact_responsive .tel_address_responsive .address_responsive .address_responsive_right_text {
          padding-left: 15px;
          color: #fff; }
          #header .nav_wrapper .contact_responsive .tel_address_responsive .address_responsive .address_responsive_right_text p {
            margin: 0;
            font-family: "Lato", sans-serif;
            line-height: 1.6;
            font-size: 14px; }
            #header .nav_wrapper .contact_responsive .tel_address_responsive .address_responsive .address_responsive_right_text p a {
              color: black; }
  @media screen and (max-width: 992px) {
    #header .nav_wrapper {
      top: 0;
      width: 100%;
      border-radius: 0;
      background: white; } }
  #header .nav_wrapper .nav-bar {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    position: absolute; }
  @media screen and (max-width: 992px) {
    #header .nav_wrapper .menuNav {
      display: none; } }
  #header .nav_wrapper .menuNav > ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none; }
    #header .nav_wrapper .menuNav > ul .liPages:hover .menuNavDisplay {
      visibility: visible;
      opacity: 1; }
    #header .nav_wrapper .menuNav > ul .liGallery:hover .ulStyle {
      visibility: visible;
      opacity: 1; }
    #header .nav_wrapper .menuNav > ul .liBlog:hover .ulStyle {
      visibility: visible;
      opacity: 1; }
    #header .nav_wrapper .menuNav > ul > li {
      transition: .3s;
      padding: 18px 24px; }
      @media screen and (max-width: 1199px) {
        #header .nav_wrapper .menuNav > ul > li {
          padding: 18px 12px; } }
      #header .nav_wrapper .menuNav > ul > li:hover {
        background: #f57e57;
        cursor: pointer; }
      #header .nav_wrapper .menuNav > ul > li > a {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none; }
        #header .nav_wrapper .menuNav > ul > li > a i {
          padding: 0;
          margin: 0 0 0 5px; }
      #header .nav_wrapper .menuNav > ul > li .menuNavDisplay {
        background: #fff;
        left: 50%;
        padding: 30px;
        width: 100%;
        transform: translateX(-50%);
        position: absolute;
        top: 100%;
        z-index: 1;
        visibility: hidden;
        transition: .3s all ease;
        opacity: 0;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2); }
        #header .nav_wrapper .menuNav > ul > li .menuNavDisplay h6 {
          font-family: "Lato", sans-serif;
          font-size: 18px;
          letter-spacing: 0.06em;
          font-family: "Oswald", sans-serif;
          line-height: 1.5;
          font-weight: 400;
          color: #434445; }
        #header .nav_wrapper .menuNav > ul > li .menuNavDisplay p {
          position: relative;
          height: 1px;
          background: #e5e5e5;
          margin-bottom: 12px; }
          #header .nav_wrapper .menuNav > ul > li .menuNavDisplay p:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 50px;
            background: #f57e57; }
        #header .nav_wrapper .menuNav > ul > li .menuNavDisplay ul {
          padding-left: 0;
          list-style: none; }
          #header .nav_wrapper .menuNav > ul > li .menuNavDisplay ul li a {
            font-family: "Lato", sans-serif;
            display: block;
            padding: 8px 15px 8px 0px;
            text-transform: capitalize;
            font-size: 14px;
            color: #18afd3;
            line-height: 24px;
            text-decoration: none;
            transition: .2s all ease; }
          #header .nav_wrapper .menuNav > ul > li .menuNavDisplay ul li i {
            display: none;
            padding: 0;
            float: left;
            margin-top: 12px; }
          #header .nav_wrapper .menuNav > ul > li .menuNavDisplay ul li:hover a {
            color: #f57e57;
            padding-left: 15px; }
          #header .nav_wrapper .menuNav > ul > li .menuNavDisplay ul li:hover i {
            display: inline;
            color: #f57e57; }
      #header .nav_wrapper .menuNav > ul > li .ulStyle {
        background: #fff;
        position: absolute;
        top: 100%;
        width: 240px;
        padding: 0;
        transform: translateX(-24px);
        transition: .3s all ease;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
        list-style: none;
        visibility: hidden;
        opacity: 0; }
        #header .nav_wrapper .menuNav > ul > li .ulStyle li {
          padding: 4px 0 4px 0px;
          margin-left: 25px;
          margin-right: 25px;
          border-bottom: 1px solid #e5e5e5; }
          #header .nav_wrapper .menuNav > ul > li .ulStyle li a {
            display: block;
            padding: 8px 15px 8px 0px;
            padding: 8px 15px 8px 0px;
            text-transform: capitalize;
            font-size: 14px;
            color: #18afd3;
            line-height: 24px;
            font-family: "Lato", sans-serif;
            text-decoration: none;
            transition: .2s all ease; }
          #header .nav_wrapper .menuNav > ul > li .ulStyle li i {
            display: none;
            padding: 0;
            float: left;
            margin-top: 12px; }
          #header .nav_wrapper .menuNav > ul > li .ulStyle li:hover a {
            color: #f57e57;
            padding-left: 15px; }
          #header .nav_wrapper .menuNav > ul > li .ulStyle li:hover i {
            display: inline;
            color: #f57e57; }
  #header .nav_wrapper .search a > i {
    padding: 21px 36px;
    color: #fff; }
  @media screen and (max-width: 992px) {
    #header .nav_wrapper .search {
      display: none; } }
#header .menu_responsive {
  position: absolute;
  top: 0;
  z-index: 60;
  height: 100vh;
  background: #fff;
  position: fixed;
  display: none;
  transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  @media screen and (max-width: 992px) {
    #header .menu_responsive {
      display: block; } }
  #header .menu_responsive .menu_responsive_wrapper {
    overflow: auto;
    height: 100vh;
    position: relative;
    top: 70px;
    padding: 15px; }
    #header .menu_responsive .menu_responsive_wrapper form {
      border: 1px solid #bdbdbd;
      height: 50px;
      border-radius: 5px; }
      #header .menu_responsive .menu_responsive_wrapper form input {
        line-height: 49px;
        padding-left: 20px;
        outline: none;
        border: none;
        background: transparent;
        padding-right: 28px;
        font-size: 14px;
        color: #434445; }
      #header .menu_responsive .menu_responsive_wrapper form i {
        color: #f57e57;
        position: relative;
        right: 10px; }
    #header .menu_responsive .menu_responsive_wrapper > ul {
      margin-top: 30px; }
      #header .menu_responsive .menu_responsive_wrapper > ul li {
        padding: 9px 0px 9px 15px;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; }
        #header .menu_responsive .menu_responsive_wrapper > ul li:hover > a {
          color: #f14711; }
        #header .menu_responsive .menu_responsive_wrapper > ul li > i {
          float: right;
          font-size: 22px;
          color: #f57e57; }
        #header .menu_responsive .menu_responsive_wrapper > ul li a {
          color: #f57e57; }
      #header .menu_responsive .menu_responsive_wrapper > ul .sub_menu > ul {
        display: none; }
        #header .menu_responsive .menu_responsive_wrapper > ul .sub_menu > ul span {
          color: #f57e57;
          font-size: 14px;
          font-family: "Lato", sans-serif; }
          #header .menu_responsive .menu_responsive_wrapper > ul .sub_menu > ul span .i_hover {
            font-size: 0px; }
      #header .menu_responsive .menu_responsive_wrapper > ul .sub_menu .slide_down {
        transform: rotate(0deg);
        cursor: pointer; }
#header .back {
  background-image: url(../images/back/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 991px) {
    #header .back {
      background-size: cover; } }
  #header .back h1 {
    color: #fff;
    line-height: 1.25;
    font-size: 80px;
    letter-spacing: 0.04em;
    font-family: "Oswald", sans-serif;
    padding: 90px 0 90px; }
    @media (max-width: 991px) {
      #header .back h1 {
        padding: 0;
        font-size: 60px;
        text-align: center;
        padding: 25px 0 25px; } }
    @media (max-width: 767px) {
      #header .back h1 {
        font-size: 36px;
        padding: 30px 0px 35px; } }
  #header .back ul {
    margin: 0;
    padding: 0 0 40px; }
    #header .back ul li {
      list-style: none;
      color: #fff;
      display: inline;
      margin-right: 5px; }
      #header .back ul li a {
        color: #fff; }
        #header .back ul li a span {
          margin: 0;
          padding: 0; }
    #header .back ul i {
      margin-left: 10px;
      font-size: 12px;
      line-height: 14px;
      padding-right: 15px;
      opacity: .3; }
#header footer {
  background: #038eaf; }
  #header footer .footer_wrapper {
    padding-left: calc(15px + 6%);
    padding-right: calc(15px + 6%);
    padding-right: calc(15px + 3%);
    padding-top: 66px;
    padding-bottom: 20px; }
    @media screen and (max-width: 768px) {
      #header footer .footer_wrapper .footer_content_total {
        margin: 0 auto; } }
    @media screen and (max-width: 992px) {
      #header footer .footer_wrapper .logo_footer .top_logo {
        padding-bottom: 60px;
        margin: 0 auto; } }
    @media screen and (max-width: 768px) {
      #header footer .footer_wrapper .logo_footer .top_logo {
        padding-bottom: 60px;
        margin: 0 auto; } }
    #header footer .footer_wrapper .logo_footer .socials {
      position: absolute;
      bottom: 0; }
      #header footer .footer_wrapper .logo_footer .socials ul li {
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 100%;
        text-align: center;
        line-height: 40px;
        margin-right: 15px;
        color: #868686;
        cursor: pointer;
        transition: .1s; }
        #header footer .footer_wrapper .logo_footer .socials ul li:hover {
          background: #f57e57;
          color: #fff; }
    @media screen and (max-width: 992px) {
      #header footer .footer_wrapper .logo_footer {
        padding: 0 50px;
        margin: 0 auto;
        padding-top: 60px; } }
    @media screen and (max-width: 768px) {
      #header footer .footer_wrapper .logo_footer {
        padding: 0;
        padding-top: 60px;
        margin: 0 auto; } }
    #header footer .footer_wrapper .contact {
      padding-left: 0; }
      #header footer .footer_wrapper .contact h6 {
        font-family: "Oswald", sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.06em; }
      #header footer .footer_wrapper .contact .contact_content_col {
        padding-bottom: 10px; }
        #header footer .footer_wrapper .contact .contact_content_col .contact_content_col_right span {
          color: #fff; }
        #header footer .footer_wrapper .contact .contact_content_col .contact_content_col_left {
          width: 30px;
          height: 20px;
          text-align: center; }
        #header footer .footer_wrapper .contact .contact_content_col i {
          color: #f57e57;
          font-size: 24px !important;
          line-height: 24px !important; }
        #header footer .footer_wrapper .contact .contact_content_col .contact_content_col_right {
          padding-left: 10px; }
          #header footer .footer_wrapper .contact .contact_content_col .contact_content_col_right span {
            color: #fff; }
          #header footer .footer_wrapper .contact .contact_content_col .contact_content_col_right a {
            color: #f57e57; }
      @media screen and (max-width: 992px) {
        #header footer .footer_wrapper .contact {
          padding: 0 50px;
          margin: 0 auto;
          padding-top: 60px; } }
      @media screen and (max-width: 768px) {
        #header footer .footer_wrapper .contact {
          padding: 0;
          margin: 0 auto;
          margin-top: 60px; } }
    @media screen and (max-width: 992px) {
      #header footer .footer_wrapper .newsletter {
        padding: 0 50px;
        margin: 0 auto; } }
    @media screen and (max-width: 768px) {
      #header footer .footer_wrapper .newsletter {
        padding: 0; } }
    #header footer .footer_wrapper .newsletter h6 {
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.06em; }
    #header footer .footer_wrapper .newsletter .newsletter_last_p {
      color: rgba(255, 255, 255, 0.2);
      padding-top: 15px; }
    #header footer .footer_wrapper .newsletter .form {
      padding-top: 10px;
      position: relative; }
      #header footer .footer_wrapper .newsletter .form input {
        width: 100%;
        border: none;
        outline: none;
        padding: 7px 20px 7px 7px;
        border-radius: 3px; }
      #header footer .footer_wrapper .newsletter .form div {
        border-radius: 5px;
        background: #f57e57;
        border-color: #f57e57;
        position: absolute;
        right: -2px; }
        #header footer .footer_wrapper .newsletter .form div:hover {
          background: #18afd3;
          border-color: #18afd3; }
  #header footer .copyright {
    border-top: 1px solid #0788a7; }
    #header footer .copyright .copyright_wrapper {
      min-width: 300px;
      max-width: 750px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0 auto;
      text-align: center; }
      #header footer .copyright .copyright_wrapper span {
        color: rgba(255, 255, 255, 0.5); }
  #header footer .footer_button {
    position: fixed;
    bottom: 0px;
    right: 45px;
    cursor: pointer;
    visibility: hidden;
    transition: 0.1s all cubic-bezier(0.785, 0.135, 0.15, 0.86) !important; }
    #header footer .footer_button i {
      width: 50px;
      height: 50px;
      line-height: 48px;
      font-size: 26px;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
      background: #f57e57;
      border-radius: 100%;
      text-align: center;
      color: #fff; }

#content h4 {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 16px;
  line-height: 1.33;
  font-size: 18px;
  letter-spacing: 0.06em;
  font-family: "Oswald", sans-serif; }
#content h5::before {
  content: '';
  position: absolute;
  top: 39px;
  left: 0px;
  height: 1px;
  width: 50px;
  background: #f57e57; }
#content .counters {
  margin-top: 100px;
  /* Column Grids End */ }
  #content .counters .col_half {
    width: 49%; }
  #content .counters .col_third {
    width: 32%; }
  #content .counters .col_fourth {
    width: 23.5%; }
  #content .counters .col_fifth {
    width: 18.4%; }
  #content .counters .col_sixth {
    width: 15%; }
  #content .counters .col_three_fourth {
    width: 74.5%; }
  #content .counters .col_twothird {
    width: 66%; }
  #content .counters .col_half,
  #content .counters .col_third,
  #content .counters .col_twothird,
  #content .counters .col_fourth,
  #content .counters .col_three_fourth,
  #content .counters .col_fifth {
    position: relative;
    display: inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px; }
  #content .counters .end {
    margin-right: 0 !important; }
  #content .counters .counter {
    background-color: #ffffff;
    padding: 20px 0;
    border-radius: 5px; }
  #content .counters .count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.13043;
    font-size: 46px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center; }
  #content .counters .count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    color: #18afd3;
    line-height: 1.27273;
    font-size: 22px; }
  #content .counters .fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5; }
#content .afters {
  height: 4px;
  width: 50px;
  margin-left: center;
  background: #f57e57;
  margin-left: 108px;
  margin-top: 18px; }
#content .skill h6 {
  position: absolute; }
  #content .skill h6::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0px;
    height: 1px;
    width: 50px;
    background: #f57e57; }
#content .skill .skills,
#content .skill .skills .skill,
#content .skill .skills .skill .skill-title,
#content .skill .skills .skill .skill-bar {
  width: 100%;
  float: left; }
#content .skill .skills {
  padding: 40px 0; }
#content .skill .skills .skill {
  margin-bottom: 30px; }
#content .skill .skills .skill .skill-title {
  color: #868686;
  line-height: 1.33333;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px; }
  #content .skill .skills .skill .skill-title span {
    float: right;
    color: #18afd3;
    line-height: 1.33333;
    font-size: 18px; }
#content .skill .skilinyo {
  padding: 0; }
#content .skill .skills .skill .skill-bar {
  background: #e5e5e5;
  height: 12px;
  border-radius: 5px;
  width: 570p;
  width: 570px;
  background: #f0f0f0;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1); }
#content .skill .skills.active .skill .skill-bar {
  width: 100%; }
#content .skill .skills .skill .skill-bar span {
  height: 12px;
  border-radius: 5px;
  float: left;
  width: 0%;
  background: #f57e57;
  position: relative;
  transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -webkit-transition: 1s cubic-bezier(1, 0, 0.5, 1);
  -ms-transition: 1s cubic-bezier(1, 0, 0.5, 1); }
#content .skill .skills .skill .skill-bar span b {
  float: left;
  width: 100%;
  position: relative;
  text-align: right;
  opacity: 0;
  font-size: 14px;
  color: #1D91F2;
  font-weight: 400;
  top: -13px; }
#content .skill .container {
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto; }
#content .skill html, #content .skill body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif; }
#content .progress_bar {
  margin-top: 50px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between; }
  #content .progress_bar h5 {
    position: absolute; }
    #content .progress_bar h5::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 50px;
      background: #f57e57; }
  #content .progress_bar .radial-01 {
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: red;
    padding-top: 40px;
    border-radius: 100%;
    margin: 40px 8%; }
  #content .progress_bar .radial-01 p {
    position: absolute;
    left: -25px;
    bottom: -55px;
    z-index: 50;
    width: 165px;
    font-weight: 700;
    color: #868686;
    line-height: 1.27273;
    font-size: 19px; }
  #content .progress_bar .radial-01 .radial-01-number {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    border-radius: 100%;
    padding-top: 41px;
    z-index: 20; }
  #content .progress_bar .radial-01 .radial-01-number {
    font-size: 30px;
    padding-top: 32px; }
  #content .progress_bar .radial-01 .radial-01-number .radial-01-syb {
    font-size: 20px; }
  #content .progress_bar .radial-01 > span.radial-01-border-r:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #ccc;
    border-radius: 100%;
    z-index: 5; }
  #content .progress_bar .radial-01 > span.radial-01-border-r:after {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #008cba;
    border-radius: 100%;
    z-index: 10;
    clip: rect(0px, 120px, 120px, 60px); }
  #content .progress_bar .radial-01 > span.radial-01-border-l:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #ccc;
    border-radius: 100%;
    z-index: 5; }
  #content .progress_bar .radial-three-quarters > span.radial-01-border-l:after {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #008cba;
    border-radius: 100%;
    z-index: 10;
    clip: rect(60px, 120px, 120px, 0px); }
  #content .progress_bar .radial-whole > span.radial-01-border-l:after {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #008cba;
    border-radius: 100%;
    z-index: 10;
    clip: rect(0px, 120px, 120px, 0px); }
  #content .progress_bar .radial-ninty > span.radial-01-border-l:after {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #008cba;
    border-radius: 100%;
    z-index: 10;
    clip: rect(60px, 120px, 120px, 0px);
    transform: rotate(60deg); }

.main .wrapper .about_us {
  display: flex;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: calc(15px + 6%);
  padding-right: calc(15px + 6%); }
  @media screen and (max-width: 1199px) {
    .main .wrapper .about_us .content_left {
      margin: 0 auto; } }
  .main .wrapper .about_us .content_left > h3 {
    line-height: 1.13043;
    font-size: 46px;
    font-family: "Oswald", sans-serif; }
    @media screen and (max-width: 768px) {
      .main .wrapper .about_us .content_left > h3 {
        font-size: 28px; } }
  .main .wrapper .about_us .content_left div {
    margin: 30px 0; }
  .main .wrapper .about_us .content_left .text {
    margin-top: 60px;
    margin-bottom: 10px;
    color: #868686; }
    .main .wrapper .about_us .content_left .text p:first-child {
      margin-bottom: 10px; }
  @media screen and (max-width: 1199px) {
    .main .wrapper .about_us .content_right {
      margin: 0 auto;
      padding-top: 30px; } }
  .main .wrapper .about_us .content_right h6 {
    line-height: 1.33333;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.06em; }
  .main .wrapper .about_us .content_right .right_content {
    margin-top: 30px; }
    .main .wrapper .about_us .content_right .right_content > p {
      margin-top: 15px;
      margin-bottom: 10px; }
    .main .wrapper .about_us .content_right .right_content > a {
      margin-top: 41px;
      border-radius: 23px;
      background-color: #f57e57;
      border-color: #f57e57;
      padding: 10px 47px;
      border: none;
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-size: 16px;
      line-height: 28px;
      backface-visibility: hidden;
      cursor: pointer;
      outline: none; }
      @media screen and (max-width: 1199px) {
        .main .wrapper .about_us .content_right .right_content > a {
          margin-top: 5px; } }
      .main .wrapper .about_us .content_right .right_content > a:hover {
        background-color: #55bbeb;
        border-color: #55bbeb; }
    .main .wrapper .about_us .content_right .right_content .man_info {
      display: flex; }
      .main .wrapper .about_us .content_right .right_content .man_info .man_info_content h5, .main .wrapper .about_us .content_right .right_content .man_info .man_info_content p {
        padding-left: 20px; }
      @media screen and (max-width: 1199px) {
        .main .wrapper .about_us .content_right .right_content .man_info .man_info_content {
          padding-left: 0;
          padding-top: 10px; } }
      .main .wrapper .about_us .content_right .right_content .man_info .man_info_content .phone_number_icon {
        padding-left: 20px; }
        @media screen and (max-width: 1199px) {
          .main .wrapper .about_us .content_right .right_content .man_info .man_info_content .phone_number_icon {
            padding-left: 0; } }
        .main .wrapper .about_us .content_right .right_content .man_info .man_info_content .phone_number_icon > i {
          font-size: 26px;
          line-height: 26px;
          color: #18afd3; }
      .main .wrapper .about_us .content_right .right_content .man_info .man_info_content > h5 {
        font-weight: 700;
        color: #18afd3; }
      .main .wrapper .about_us .content_right .right_content .man_info .man_info_content > p {
        font-style: italic;
        margin-bottom: 10px; }
      .main .wrapper .about_us .content_right .right_content .man_info .man_info_content .phone_number {
        margin-top: 14px; }
        .main .wrapper .about_us .content_right .right_content .man_info .man_info_content .phone_number .phone_number_text {
          padding-left: 7px; }
          .main .wrapper .about_us .content_right .right_content .man_info .man_info_content .phone_number .phone_number_text a {
            font-family: "Oswald", sans-serif;
            line-height: 1.33;
            font-size: 18px;
            color: #434445; }

footer {
  background: #038eaf; }
  footer .footer_wrapper {
    padding-left: calc(15px + 6%);
    padding-right: calc(15px + 6%);
    padding-right: calc(15px + 3%);
    padding-top: 66px;
    padding-bottom: 60px; }
    @media screen and (max-width: 768px) {
      footer .footer_wrapper .footer_content_total {
        margin: 0 auto; } }
    @media screen and (max-width: 992px) {
      footer .footer_wrapper .footer_last {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 50px 0; } }
  @media screen and (max-width: 992px) and (max-width: 992px) {
    footer .footer_wrapper .footer_last .top_logo {
      padding-bottom: 60px;
      margin: 0 auto; } }
  @media screen and (max-width: 992px) and (max-width: 768px) {
    footer .footer_wrapper .footer_last .top_logo {
      padding-bottom: 60px;
      margin: 0 auto; } }

    footer .footer_wrapper .socials {
      position: absolute;
      bottom: 0; }
      footer .footer_wrapper .socials ul li {
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 100%;
        text-align: center;
        line-height: 40px;
        margin-right: 15px;
        color: #868686;
        cursor: pointer;
        transition: .1s; }
        @media screen and (max-width: 992px) {
          footer .footer_wrapper .socials ul li {
            margin: 0 6px; } }
        footer .footer_wrapper .socials ul li:hover {
          background: #f57e57;
          color: #fff; }
    @media screen and (max-width: 992px) {
      footer .footer_wrapper {
        padding: 0 50px;
        margin: 0 auto;
        padding-top: 60px; } }
    @media screen and (max-width: 768px) {
      footer .footer_wrapper {
        padding: 0;
        padding-top: 60px;
        margin: 0 auto; } }
    footer .footer_wrapper .contact {
      padding-left: 0; }
      footer .footer_wrapper .contact h6 {
        font-family: "Oswald", sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.06em; }
      footer .footer_wrapper .contact .contact_content_col {
        padding-bottom: 10px; }
        footer .footer_wrapper .contact .contact_content_col .contact_content_col_right span {
          color: #fff; }
        footer .footer_wrapper .contact .contact_content_col .contact_content_col_left {
          width: 30px;
          height: 20px;
          text-align: center; }
        footer .footer_wrapper .contact .contact_content_col i {
          color: #f57e57;
          font-size: 24px !important;
          line-height: 24px !important; }
        footer .footer_wrapper .contact .contact_content_col .contact_content_col_right {
          padding-left: 10px; }
          footer .footer_wrapper .contact .contact_content_col .contact_content_col_right span {
            color: #fff; }
          footer .footer_wrapper .contact .contact_content_col .contact_content_col_right a {
            color: #f57e57; }
      @media screen and (max-width: 992px) {
        footer .footer_wrapper .contact {
          padding: 0 50px;
          margin: 0 auto;
          padding-top: 60px; } }
      @media screen and (max-width: 768px) {
        footer .footer_wrapper .contact {
          padding: 0;
          margin: 0 auto;
          margin-top: 60px; } }
    @media screen and (max-width: 992px) {
      footer .footer_wrapper .newsletter {
        padding: 0 50px;
        margin: 0 auto; } }
    @media screen and (max-width: 768px) {
      footer .footer_wrapper .newsletter {
        padding: 0; } }
    footer .footer_wrapper .newsletter h6 {
      font-family: "Oswald", sans-serif;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.06em; }
    footer .footer_wrapper .newsletter .newsletter_last_p {
      color: rgba(255, 255, 255, 0.2);
      padding-top: 15px; }
    footer .footer_wrapper .newsletter .form {
      padding-top: 10px;
      position: relative; }
      footer .footer_wrapper .newsletter .form input {
        width: 100%;
        border: none;
        outline: none;
        padding: 7px 20px 7px 7px;
        border-radius: 3px; }
      footer .footer_wrapper .newsletter .form div {
        border-radius: 5px;
        background: #f57e57;
        border-color: #f57e57;
        position: absolute;
        right: -2px; }
        footer .footer_wrapper .newsletter .form div:hover {
          background: #18afd3;
          border-color: #18afd3; }
  footer .copyright {
    border-top: 1px solid #0788a7; }
    footer .copyright .copyright_wrapper {
      min-width: 300px;
      max-width: 750px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0 auto; }
      @media screen and (max-width: 992px) {
        footer .copyright .copyright_wrapper {
          text-align: center; } }
      footer .copyright .copyright_wrapper span {
        color: rgba(255, 255, 255, 0.5); }

.owl-nav {
  display: none; }

.owl-theme .owl-dots {
  padding-top: 50px; }
  .owl-theme .owl-dots .owl-dot span {
    margin: 0 13px;
    width: 12px !important;
    height: 12px !important;
    line-height: 6px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background: #868686; }
    .owl-theme .owl-dots .owl-dot span:hover {
      background: rgba(24, 175, 211, 0.8); }
    .owl-theme .owl-dots .owl-dot span::before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 12px;
      height: 12px;
      background: rgba(24, 175, 211, 0.22);
      border-radius: 50%;
      left: 0px;
      top: 0px; }
    .owl-theme .owl-dots .owl-dot span:hover::before {
      width: 24px;
      height: 24px;
      left: -6px;
      top: -6px;
      transition: all .1s ease-in-out; }

.fixed {
  max-width: none !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  border-radius: 0 !important; }

/*# sourceMappingURL=progress_bar.css.map */
