header {
  height: 345px;
  background: url("../img_modBlog/mainBg.jpg") center no-repeat; }
  header .container {
    padding: 0;
    padding-top: 10px; }
    header .container h1 {
      font-family: "Oswald", sans-serif;
      color: white;
      line-height: 1.25;
      font-size: 80px;
      letter-spacing: 0.04em;
      padding-top: 100px; }
    header .container ul {
      padding: 0;
      padding-top: 63px;
      font-size: 15px; }
      header .container ul li {
        display: inline-block;
        list-style: none;
        color: white;
        margin-left: 15px; }
        header .container ul li:first-child {
          margin-left: 0; }
        header .container ul li:last-child a:hover {
          text-decoration: none;
          cursor: text; }
        header .container ul li a {
          color: white;
          font-family: "Lato", sans-serif; }
        header .container ul li i {
          opacity: .4;
          font-size: 14px;
          margin-left: 1.2px; }

.clear {
  clear: both; }

section {
  margin-top: 100px;
  padding-top: 10px; }
  section .container {
    padding: 0; }
    section .container .row .rightPan .search h5 {
      font-family: "Oswald", sans-serif;
      color: #434445;
      text-transform: uppercase; }
    section .container .row .rightPan .search .greyLine {
      background: #e5e5e5;
      height: 1px;
      position: relative;
      z-index: 0; }
      section .container .row .rightPan .search .greyLine .orangeLine {
        position: absolute;
        background-color: #F57E57;
        height: 1px;
        width: 50px;
        left: 0;
        top: 0; }
    section .container .row .rightPan .search .searchBox {
      border: 1px solid #bdbdbd;
      position: relative; }
      section .container .row .rightPan .search .searchBox input {
        outline: none;
        border: none; }
      section .container .row .rightPan .search .searchBox i {
        color: #F57E57;
        position: absolute;
        right: 0; }
    section .container .row .rightPan .archive h5 {
      font-family: "Oswald", sans-serif;
      color: #434445;
      text-transform: uppercase; }
    section .container .row .rightPan .archive .greyLine {
      background: #e5e5e5;
      height: 1px;
      position: relative;
      z-index: 0; }
      section .container .row .rightPan .archive .greyLine .orangeLine {
        position: absolute;
        background-color: #F57E57;
        height: 1px;
        width: 50px;
        left: 0;
        top: 0; }
    section .container .row .rightPan .gallery {
      box-sizing: border-box; }
      section .container .row .rightPan .gallery h5 {
        font-family: "Oswald", sans-serif;
        color: #434445;
        text-transform: uppercase; }
      section .container .row .rightPan .gallery .greyLine {
        background: #e5e5e5;
        height: 1px;
        position: relative;
        z-index: 0; }
        section .container .row .rightPan .gallery .greyLine .orangeLine {
          position: absolute;
          background-color: #F57E57;
          height: 1px;
          width: 50px;
          left: 0;
          top: 0; }
      section .container .row .rightPan .gallery .images {
        box-sizing: border-box;
        margin-top: 9px; }
        section .container .row .rightPan .gallery .images img {
          margin-right: 9px;
          margin-bottom: 9px;
          float: left; }
    section .container .row .rightPan .recent h5 {
      font-family: "Oswald", sans-serif;
      color: #434445;
      text-transform: uppercase; }
    section .container .row .rightPan .recent .greyLine {
      background: #e5e5e5;
      height: 1px;
      position: relative;
      z-index: 0; }
      section .container .row .rightPan .recent .greyLine .orangeLine {
        position: absolute;
        background-color: #F57E57;
        height: 1px;
        width: 50px;
        left: 0;
        top: 0; }
    section .container .row .rightPan .frame iframe {
      border: none; }

/*# sourceMappingURL=modBlog.css.map */
